<form [formGroup]="form" (submit)="submit()">
  <label>Name</label>
  <input class="form-control" formControlName="name" type="text" />
  <span
    class="text-danger"
    *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')"
  >
    Name is required!
  </span>

  <label>Organization</label>
  <input class="form-control" formControlName="organization" type="text" />

  <!-- Contact Information -->

  <div class="card-body" formArrayName="contacts">
    <div class="col-6" *ngFor="let contact of contactFormGroup.controls; let i = index;">
      <div [formGroupName]="i" class="row">
        <div class="form-group col-6">
          <label>Type of Contact</label>
          <select (change)="changedFieldType(i)" class="form-control" formControlName="type" type="text">
            <option value="email">Email</option>
            <option value="phone">Phone</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label>Contact Label</label>
          <input class="form-control" formControlName="name" type="text">
          <span class="text-danger" *ngIf="validtorReturn(i,'name','required')">
            Label is required! </span>
        </div>

        <div class="form-group col-12">
          <label>Email/Phone No.</label>
          <input class="form-control" formControlName="value" type="text">
          <span class="text-danger" *ngIf="validtorReturn(i,'value','required')">
            Email/Phone no is required! </span>
          <span class="text-danger" *ngIf="validtorReturn(i,'value','pattern')">
            Email is not valid! </span>
          <span class="text-danger" *ngIf="validtorReturn(i,'value','pattern')">
            Phone no. is not valid! </span>
        </div>
        <div class="form-group col-12 text-right">
          <button class="btn btn-danger" type="button" (click)="removeContact(i)"> Remove </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-12">
      <button class="btn btn-primary m-1" type="button" (click)="addContact()">
        Add Position
      </button>
      <button
        class="btn btn-success m-1"
        [disabled]="!form.valid"
        type="submit"
      >
        Save User Profile
      </button>
    </div>
  </div>
</form>
{{form.value|json}}
