<form [formGroup]="form" (submit)="submit(); this.initForm()">
  <div class="form-group col-12">
    <label for="exampleFormControlInput1">Email address</label>
    <input
      type="email"
      formControlName="posttitle"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
    <span
      class="text-danger"
      *ngIf="
        form.controls['posttitle'].touched &&
        form.controls['posttitle'].hasError('required')
      "
    >
      Name is required!
    </span>
  </div>
  <div class="form-group col-12">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea
      class="form-control"
      formControlName="postData"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
    <span
      class="text-danger"
      *ngIf="
        form.controls['postData'].touched &&
        form.controls['postData'].hasError('required')
      "
    >
      Name is required!
    </span>
  </div>
  <div class="form-group col-12">
    <div class="row">
      <label class="col-9" for="exampleFormControlFile1"
        >Example file input</label
      >
      <button
        type="button"
        class="btn btn-primary col-3 pull-right"
        (click)="addImageUrl()"
      >
        Add More
      </button>
    </div>
  </div>

  <div formArrayName="imageUrls">
    <div *ngFor="let contact of imageUrlsGroup.controls; let i = index">
      <div [formGroupName]="i" class="form-group col-12">
        <div class="row">
          <input
            type="file"
            class="form-control-file col-9"
            formControlName="url"
            id="exampleFormControlFile1"
          />

          <button
            class="btn btn-danger col-3 pull-right"
            type="button"
            (click)="removeImageUrl(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-12">
    <div class="row">
      <label class="col-9"></label>
      <button
        class="btn btn-success col-3"
        [disabled]="!form.valid"
        type="submit"
      >
        Save User Profile
      </button>
    </div>
  </div>
</form>
